{% include "header.html" %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Coffee Shops around town</h1>
        <p class="lead text-body-secondary">We made it simple for you to find the coffee shop that best suits your needs. For each coffee shop the research has been done to find out how much a cup of coffee costs, does it have electricity outlets, or can you take phone calls inside and many more..</p>

            <button data-bs-toggle="modal" type="button" class="btn btn-success btn-lg" data-bs-target="#CafeModal">Add New Cafe</button>


            <div class="modal fade" id="CafeModal" tabindex="-1" aria-labelledby="editCafeModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="CafeModalLabel">Edit Cafe Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                <!-- Add form fields to edit cafe details -->
                                <form id="CafeForm" action="{{ url_for('add_cafe') }}" method="POST">
                                  <!-- Example: Input fields to edit cafe name and location -->
                                  <div class="mb-3">
                                    <label for="CafeName" class="form-label">Cafe Name</label>
                                    <input type="text" class="form-control" id="CafeName" name="CafeName">
                                  </div>
                                  <div class="mb-3">
                                    <label for="CafeLocation" class="form-label">Location</label>
                                    <input type="text" class="form-control" id="CafeLocation" name="CafeLocation">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeMap_url" class="form-label">Google Maps Location URL</label>
                                    <input type="text" class="form-control" id="CafeMap_url" name="CafeMap_url">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeImg_url" class="form-label">Image URL</label>
                                    <input type="text" class="form-control" id="CafeImg_url" name="CafeImg_url">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeHas_Sockets" class="form-label">Has Sockets</label>
                                    <input type="checkbox" id="CafeHas_Sockets" name="CafeHas_Sockets">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeHas_Toilet" class="form-label">Has Toilet</label>
                                    <input type="checkbox" id="CafeHas_Toilet" name="CafeHas_Toilet">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeHas_Wifi" class="form-label">Has Wi-Fi</label>
                                    <input type="checkbox" id="CafeHas_Wifi" name="CafeHas_Wifi">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeCanTakeCalls" class="form-label">Can take calls</label>
                                    <input type="checkbox" id="CafeCanTakeCalls" name="CafeCanTakeCalls">
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeSeats" class="form-label">Seats</label>
                                        <select id="CafeSeats" name="CafeSeats">
                                            <option value="0-10">0 - 10</option>
                                            <option value="10-20">10 - 20</option>
                                            <option value="20-30">20 - 30</option>
                                            <option value="30-40">30 - 40</option>
                                            <option value="40-50">40 - 50</option>
                                            <option value="50+">50+</option>
                                        </select>
                                  </div>
                                    <div class="mb-3">
                                    <label for="CafeCoffeePrice" class="form-label">Coffee Price</label>
                                    <input type="text" class="form-control" id="CafeCoffeePrice" name="CafeCoffeePrice">
                                  </div>
                                  <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>


      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for cafe in cafes %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{cafe.name}}</title><image href="{{cafe.img_url}}" height="300" width="100%"></image></svg>
            <div class="card-header">

              <h5 class="card-title">{{cafe.name}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{cafe.location}}</h6>

                <div class="card-body">
                  <div class="container">

                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">

                          <div class="row my-2">
                            <div class="col-md-6">
                                <p class="card-text">Has sockets</p>
                            </div>
                            <div class="col-md-6">
                                {% if cafe.has_sockets %}
                                <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-success" style="width: 100%"></div>
                                </div>
                                {% else %}
                                <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-danger" style="width: 100%"></div>
                                </div>
                                {% endif %}
                            </div>
                          </div>
                          </li>


                            <li class="list-group-item">

                              <div class="row my-2">
                                <div class="col-md-6">
                                    <p class="card-text">Has Toilet</p>
                                </div>
                                <div class="col-md-6">
                                    {% if cafe.has_toilet %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success" style="width: 100%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-danger" style="width: 100%"></div>
                                    </div>
                                    {% endif %}
                                </div>
                              </div>

                            </li>

                          <li class="list-group-item">
                              <div class="row my-2">
                                <div class="col-md-6">
                                    <p class="card-text">Has Wi-Fi</p>
                                </div>
                                <div class="col-md-6">
                                    {% if cafe.has_wifi %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success" style="width: 100%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-danger" style="width: 100%"></div>
                                    </div>
                                    {% endif %}
                                </div>
                              </div>
                          </li>

                          <li class="list-group-item">
                              <div class="row my-2">
                                <div class="col-md-6">
                                    <p class="card-text">Can Take Calls</p>
                                </div>
                                <div class="col-md-6">
                                    {% if cafe.can_take_calls %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-success" style="width: 100%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-danger" style="width: 100%"></div>
                                    </div>
                                    {% endif %}
                                </div>
                              </div>
                          </li>

                          <li class="list-group-item">
                              <div class="row my-2">
                                <div class="col-md-6">
                                    <p class="card-text">Seats</p>
                                </div>
                                <div class="col-md-6">
                                    {% if cafe.seats[0] == '0' %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 16%"></div>
                                    </div>
                                    {% elif cafe.seats[0] == '1' %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 32%"></div>
                                    </div>
                                    {% elif cafe.seats[0] == '2' %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 48%"></div>
                                    </div>
                                    {% elif cafe.seats[0] == '3' %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 64%"></div>
                                    </div>
                                    {% elif cafe.seats[0] == '4' %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 80%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                    </div>
                                    {% endif %}
                                    <p class="card-text">{{cafe.seats}}</p>
                                </div>
                              </div>
                          </li>

                          <li class="list-group-item">
                              <div class="row my-2">
                                <div class="col-md-6">
                                    <p class="card-text">Coffee Price</p>
                                </div>
                                <div class="col-md-6">
                                    {% if cafe.coffee_price %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:{{percentages[cafes.index(cafe)]}}%"></div>
                                    </div>
                                    {% else %}
                                    <div class="progress" role="progressbar" aria-label="Has sockets" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 100%"></div>
                                    </div>
                                    {% endif %}
                                    <p class="card-text">{{cafe.coffee_price}}</p>
                                </div>
                              </div>
                          </li>
                      </ul>

                  </div>

                  <div class="d-flex justify-content-between align-items-center card-footer">
                    <div class="btn-group">

                      <a href="{{cafe.map_url}}" type="button" class="btn btn-sm btn-outline-secondary">View on Google Maps</a>
                      <button data-bs-toggle="modal" type="button" class="btn btn-sm btn-outline-secondary" data-bs-target="#editCafeModal" onclick="populateEditModal({{ cafe.id }})">Edit</button>

                        <!-- Edit Cafe Modal -->
                        <div class="modal fade" id="editCafeModal" tabindex="-1" aria-labelledby="editCafeModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="editCafeModalLabel">Edit Cafe Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">

                                <!-- Add form fields to edit cafe details -->
                                <form id="editCafeForm" action="{{ url_for('update_cafe') }}" method="POST">
                                  <!-- Example: Input fields to edit cafe name and location -->
                                  <div class="mb-3">
                                    <label for="editCafeName" class="form-label">Cafe Name</label>
                                    <input type="text" class="form-control" id="editCafeName" name="editCafeName">
                                  </div>
                                  <div class="mb-3">
                                    <label for="editCafeLocation" class="form-label">Location</label>
                                    <input type="text" class="form-control" id="editCafeLocation" name="editCafeLocation">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeMap_url" class="form-label">Google Maps Location URL</label>
                                    <input type="text" class="form-control" id="editCafeMap_url" name="editCafeMap_url">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeImg_url" class="form-label">Image URL</label>
                                    <input type="text" class="form-control" id="editCafeImg_url" name="editCafeImg_url">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeHas_Sockets" class="form-label">Has Sockets</label>
                                    <input type="checkbox" id="editCafeHas_Sockets" name="editCafeHas_Sockets">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeHas_Toilet" class="form-label">Has Toilet</label>
                                    <input type="checkbox" id="editCafeHas_Toilet" name="editCafeHas_Toilet">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeHas_Wifi" class="form-label">Has Wi-Fi</label>
                                    <input type="checkbox" id="editCafeHas_Wifi" name="editCafeHas_Wifi">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeCanTakeCalls" class="form-label">Can take calls</label>
                                    <input type="checkbox" id="editCafeCanTakeCalls" name="editCafeCanTakeCalls">
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeSeats" class="form-label">Seats</label>
                                        <select id="editCafeSeats" name="editCafeSeats">
                                            <option value="0-10">0 - 10</option>
                                            <option value="10-20">10 - 20</option>
                                            <option value="20-30">20 - 30</option>
                                            <option value="30-40">30 - 40</option>
                                            <option value="40-50">40 - 50</option>
                                            <option value="50+">50+</option>
                                        </select>
                                  </div>
                                    <div class="mb-3">
                                    <label for="editCafeCoffeePrice" class="form-label">Coffee Price</label>
                                    <input type="text" class="form-control" id="editCafeCoffeePrice" name="editCafeCoffeePrice">
                                  </div>
                                    <input type="hidden" id="selectedCafeId" name="selectedCafeId">
                                  <!-- Add more input fields as needed -->
                                  <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
                                </form>

                              </div>
                            </div>
                          </div>
                        </div>

                      <a type="button" class="btn btn-sm btn-outline-secondary" href="{{url_for('delete_cafe', cafe_id=cafe.id)}}">Delete</a>

                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>


    </div>
  </div>


</main>

{% include "footer.html" %}